<!DOCTYPE html>
<html>
<head>
  <title>Rirera</title>
  <%= stylesheet_link_tag    "rirera/application", media: "all" %>
  <%= javascript_include_tag "rirera/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
